body {
    font-family: Nunito, sans-serif;
    overflow: hidden;
}

a {
    text-decoration: none;
}
.editor {
    width: 100%;
    height: 500px;
    resize: vertical;
    overflow: auto;
    padding: 10px;
    color: white;
}

.control-btn {
    display: block;
}

.app{
    height: 100%; 
    width: 100%; 
    padding: 0px;
    margin: 0px;
}

.logo {
    height: 40px; 
    width: 80px; 
    font-size: 20px;
    background-color: crimson;
    margin-left: 0px;
    color: white;
    text-align: center;
    display: table;
}

.logotext{
    line-height: 40px;
}

.border-dotted {
    border-style: dashed;
}

.handelnav{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px dashed lightslategrey;
}

.controlpane {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px dashed lightslategrey;
    
}

.mybtn {
    margin: 5px;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: grey;
}
.mybtn:hover {
    background-color: crimson;
    cursor: pointer;
}

.mybtnselected {
    background-color: crimson;
}


.buttontext {
    color: white;
    font-weight: 300;
    line-height: 50px;
    font-size: 12px;
    text-align: center;
}

.CodeMirror {
    margin-top: 5px;
    border: 1px solid lightslategray;
    width: 80%;
    resize: both;
    font-size: 15px;
}

.consoleheader {
    height: 20px;
    width: 100%;
}

.guide {
    font-size: 13px;
    color: gray;
    margin-left: 5px;
}

.guide:hover {
    color: crimson;
    cursor: pointer;
}

.file {
    font-size: 14px;
    color: gray;
    border-color: gray;
    margin-left: 5px;
    position: relative;
}

.file:hover {
    color: crimson;
    border-color: crimson;
    cursor: pointer;
}

.fileselected{
    color: crimson;
    border-color: crimson;
}


.arrow {
    border: solid;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.filemodal {
    position: absolute;
    color: black;
    bottom: -75px;
    left: -10px;
    height: 70px;
    width: 200px;
    background-color: rgb(240, 240, 240);
    text-align: left;
    border-radius: 10px;
}

.modalitemtop {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 50%;
    width: 100%;
    padding: 10px;
    color: rgb(40, 40, 40);
}

.modalitembottom{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 50%;
    width: 100%;
    padding: 10px;
    color: rgb(40, 40, 40);
}

.modalitem:hover {
    background-color: crimson;
}