html {
    width: 100%;
    height: 100%;
}

body {
    font-family: Nunito, sans-serif;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}
.editor {
    width: 100%;
    height: 500px;
    resize: vertical;
    overflow: auto;
    padding: 10px;
    color: white;
}

.control-btn {
    display: block;
}

.app{
    position: relative;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0px;
    padding: 0px;
}

.logo {
    height: 50px;
    width: 80px; 
    font-size: 20px;
    background-color: crimson;
    margin-left: 0px;
    color: white;
    text-align: center;
    display: table;
}

.logotext{
    line-height: 50px; 
    background-color: crimson;
}

.border-dotted {
    border-style: dashed;
}

.handelnav{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px dashed lightslategrey;
}

.controlpane {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px dashed lightslategrey;
    
}

.mybtn {
    margin: 5px;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: grey;
}
.mybtn:hover {
    background-color: crimson;
    cursor: pointer;
}

.mybtnselected {
    background-color: crimson;
}


.buttontext {
    color: white;
    font-weight: 300;
    line-height: 50px;
    font-size: 12px;
    text-align: center;
}

.CodeMirror {
    margin-top: 30px;
    border: 1px solid lightslategray;
    max-width: 98%;
    height: 60vh;
    resize: vertical;
    overflow: auto !important;
    font-size: 15px;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
   .CodeMirror {
      font-size: 15px;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
   .CodeMirror {
      font-size: 20px;
    }
  }

.console {
    border: 1px solid lightslategray;
    margin-top: 5px;
    resize: vertical;
    overflow: auto !important;
    padding: 5px;
    font-size: 15px;
    height: 30%;
    padding: 5px;
    color: crimson;
}

.consoleheader {
    height: 40px;
    width: 100%;
    font-size: 15px;
    background-color: rgb(247, 247, 247);
    color: rgb(156, 156, 156);
    line-height: 40px;
    padding: 5px;
}

.guide {
    font-size: 13px;
    color: gray;
    margin-left: 5px;
}

.form-check {
    margin-left: 20px;
}

.vimtext {
    font-size: 13px;
    color: gray;
    margin-right: 20px;
}

.guide:hover {
    color: crimson;
    cursor: pointer;
}

.file {
    font-size: 14px;
    color: gray;
    border-color: gray;
    margin-left: 5px;
    position: relative;
    margin-right: 15px;
}

.file:hover {
    color: crimson;
    border-color: crimson;
    cursor: pointer;
}

.fileselected{
    color: crimson;
    border-color: crimson;
}


.arrow {
    border: solid;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.filemodal {
    position: absolute;
    color: black;
    bottom: -100px;
    left: -10px;
    height: 100px;
    width: 200px;
    background-color: rgb(240, 240, 240);
    text-align: left;
    border-radius: 10px;
}

.modalitemtop {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 33%;
    width: 100%;
    padding: 10px;
    color: rgb(40, 40, 40);
}

.modalitemmiddle{
    height: 33%;
    width: 100%;
    padding: 10px;
    color: rgb(40, 40, 40);
}

.modalitembottom{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 33%;
    width: 100%;
    padding: 10px;
    color: rgb(40, 40, 40);
}

.modalitem:hover {
    background-color: crimson;
}

.cm-fat-cursor .CodeMirror-cursor {
    background-color: crimson !important;
}

.cm-animate-fat-cursor {
    background-color: crimson !important;
}

.codeEditor {
    width: 80vh;    
    height: 70vh;
}
