body {
    font-family: Nunito, sans-serif;
    overflow: hidden;
}
.editor {
    width: 100%;
    height: 500px;
    resize: vertical;
    overflow: auto;
    padding: 10px;
    color: white;
}

.control-btn {
    display: block;
}

.app{
    height: 100%; 
    width: 100%; 
    padding: 0px;
    margin: 0px;
}

.logo {
    height: 40px; 
    width: 80px; 
    font-size: 20px;
    background-color: crimson;
    margin-left: 0px;
    color: white;
    text-align: center;
    display: table;
}

.logotext{
    line-height: 40px;
}

.border-dotted {
    border-style: dashed;
}

.handelnav{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px dashed lightslategrey;
}

.controlpane {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px dashed lightslategrey;
    
}

.mybtn {
    margin: 5px;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: grey;
}
.mybtn:hover {
    background-color: crimson;
}

.mybtnselected {
    background-color: crimson;
}


.buttontext {
    color: white;
    font-weight: 300;
    line-height: 50px;
    font-size: 12px;
    text-align: center;
}

.CodeMirror {
    margin-top: 5px;
    border: 1px solid lightslategray;
    width: 50%;
    resize: both;
}